body {
	overflow: hidden;
	background-color: #000;
	color:red;
	font-size:24;
	font-weight: bold;
	position:relative;
}

#output {
	position:absolute;
	float:left;
}

#content-video {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1000;
}

#video {
	width:100%;
	height:100%;
}
