extends layouts/default

block device_styles
block device_head_js
	script(type="text/javascript", src="/js/main.js")
	script(type="text/javascript").
		var SOCKET = location.origin;
block video
	#video
	#image.floating

